{{page-title "Edit"}}
<form>
  <input
    placeholder="Entrer un nom"
    type="text"
    value={{@model.name}}
    {{on "input" this.setTodoName}}
  />

  <button type="submit" {{on "click" this.save}}>Soumettre</button>
</form>